.ui.borderless.menu.topbar{
    background-color: #f5f5f5;
    border: none;
    box-shadow: none;
}

.ui.segment{
    border: none;
    box-shadow: none;
}

.ui.borderless.menu.mid{
    border: none;
    box-shadow: none;
}

